.bannerContainer {
  position: fixed;
  right: -100%; 
  /* right: 1rem; */
  z-index: 10;
  display: flex;
  width: min(calc(100% - 2rem), 400px);
  color: var(--dark);
  background: var(--primary);
  border: 3px solid var(--dark);
  border-radius: 6px;
  padding: 0.5rem;
  animation: slide-in 4s;
}

.image {
  position: relative !important;
  object-fit: contain !important;
  /* height: unset !important; */
  margin: 0 auto;
}

.imageContainer {
  min-width: 20%;
  max-width: 20%;
  margin-right: 1rem;
  display: flex;
}

.infoContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.alert {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.productName {
  font-size: 0.9rem;
}

.checkoutButton {
  margin-top: 0.5rem;
  margin-left: auto;
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark);
  border: 2px solid var(--dark);
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  transition: 300ms;
}

.checkoutButton:hover {
  background-color: var(--dark);
  color: var(--primary);
}

.closeBannerButton {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  z-index: 20;
}

.closeBannerIcon {
  font-size: 1.2rem;
  color: var(--dark);
}

.closeBannerButton:hover {
  color: red;
}

@keyframes slide-in {
  0% {right: -100%;}
  10% {right: 1rem;}
  90% {right: 1rem;}
  100% {right: -100%;}
}

/* @media (min-width: 480px) {
  @keyframes slide-in {
    0% {right: -100%;}
    10% {right: 1rem;}
    90% {right: 1rem;}
    100% {right: -100%;}
  }
} */