.button {
  background: unset;
  /* border: 3px solid var(--primary); */
  border: 3px solid var(--mid-light);
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  color: var(--primary);
  font-size: 1rem;
  font-weight: 800;
  transition: 300ms;
  width: fit-content;
  cursor: pointer;
 }

 .button:hover {
  /* background-color: var(--primary-light); */
  border-color: var(--primary);

}

.button:disabled {
  color: var(--mid-light);
  border-color: var(--mid-light);
}

.button:disabled:hover {
  background-color: transparent;
}