@font-face {
  font-family: "Bitter";
  src: url('../fonts/Bitter.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: url('../fonts/Bitter.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: url('../fonts/Bitter.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: url('../fonts/Bitter.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "KCAnvaHell";
  src: url('../fonts/KCAnvaHell.otf');
  font-weight: 600;
}

:root {
  /* --primary: rgb(77, 255, 178); */

  /* green */
  --primary: rgb(61, 208, 144);
  --primary-light: rgb(61, 208, 144, 0.3);

  /* yellow */
  /* --primary: rgb(208, 215, 86); */
  /* --primary-light: rgb(208, 215, 86, 0.3); */

  /* purple */
  /* --primary: rgb(156, 71, 184); */
  /* --primary: rgb(43, 4, 92, 0.3); */

  --primary-light: rgb(43, 4, 92, 0.1);

/* 
  --light: rgb(253, 254, 224);
  --white: rgb(254, 255, 246); */


  --purple: rgba(34, 4, 74, 0.3);


  --secondary: rgb(168, 88, 149);
  --dark-green: rgb(13, 22, 18);
  --dark: rgb(21, 21, 21);
  
  /* --dark: rgb(10, 18, 15); */

  --mid: hsl(0, 0%, 24%);
  --mid-light: rgb(51, 51, 51, 0.2);
  --light: rgb(223, 251, 240);
  --white: rgb(239, 251, 247);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  min-height: 100vh;
  font-family: Bitter;
  background-color: var(--purple);
  background-image: url("../assets/images/pattern1-yellow-light.png");
  background-position: center;
  background-size: 4rem 4rem;
  background-repeat: repeat;
}

/* next creates a div inside the body for all pages */
body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* max-width: max(100%, 1400px); */
  margin: 0 auto;
  padding-top: 4.5rem;
}

@media (prefers-color-scheme: dark) {
  html, body {
    color-scheme: dark;
    color: var(--light);
  }
  body {
    background-image: url("../assets/images/pattern1-yellow-dark.png");
  }
}


@keyframes AnimationName {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}



/* *********** */ 
/* MODIFIERS */

.primary {
  color: var(--primary)
}

.bold {
  font-weight: 800;
}

.indent {
  margin-left: 0.5rem;
}