.page {
  max-width: calc(100% - 0rem);
  position: relative;
}

.page h2 {
  font-size: 1.75rem;
}

.page h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.page p {
  font-size: 1.75rem;
  line-height: 140%;
}
/* 
.page section {
  padding: 0 0rem;
} */

.page .content {
  padding: 0 1rem;
}

.page .imageContainer {
  position: relative;
  overflow: hidden;
  object-fit: contain;
  width: 100%;
  margin-bottom: 1rem;
  /* -webkit-mask-image: -webkit-radial-gradient(white, black); */
}

.page .image {
  width: 100% !important;
  height: auto !important;
} 

.aboutImage {
  transform: scale(1.4);
  transform: scale(1.4) translate(-15px, 10px);
}

.spline2 {
  transform: translate(0px, -50px);
  position: absolute;
  height: 100%;
  /* width: min(100%, 1400px) !important; */
  max-height: 100vh !important;
  /* grid-column: 2 / 5; */
  /* grid-row: 6 / -1; */
  z-index: 20;
  animation: slide-up 8s ease-out;
}

/* ********** HERO ********** */

.heroSection {
  position: relative;
  height: calc(100vh - 13rem);
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: KCAnvaHell;
  font-size: 3rem;
  color: var(--dark);
  /* margin: 0rem 0rem; */
  z-index: 30;
  position: absolute;
  top: -3.5rem;
}

.heroSection h2 {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
}

/* ********** ABOUT ********** */

.aboutSection {
  position: relative;
  background-color: var(--white);
  padding-bottom: 1rem;
}

.aboutSection .content {
  border: 1px solid var(--mid);
}

.aboutSection h2 {
  position: absolute;
  bottom: 1rem;
  z-index: 10;
  background-color: var(--white);
  padding: 0 0.5rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  letter-spacing: 1px;
}

.accent {
  color: var(--primary);
}

.scrollDownContainer {
  display: flex;
  justify-content: center;
}

.scrollDownIcon {
  font-size: 3rem;
  margin: 0.5rem 0;
  color: var(--primary);
}

@media (max-width: 767px) {
  @keyframes slide-up {
    0% {
      transform: translate(0, 400px);
    } 
    100% {
      transform: translate(0, -50px);
    }
  }
}

@media (min-width: 768px) {

.page h2 {
  font-size: 5rem;
}

.page .imageContainer {
  height: 500px;  
}

.page .image {
  /* width: 100vw; */
/* width: calc(100vw - 4rem) !important; */
transform: scale(1.4) translate(-40px, -85px);
}

.spline2 {
transform: translate(300px, 100px);
}

.title {
  font-size: 5rem;
}

.heroSection {
  height: calc(100vh - 8rem);
}

.heroSection h2 {
  font-size: 5rem;
}

.aboutSection h2 {
  padding: 0 2rem;
  text-transform: lowercase;
}

.aboutSection .content {
  margin: 0 10rem;
}

@keyframes slide-up {
  0% {
    transform: translate(0, 400px);
  } 
  100% {
    transform: translate(300px, 100px);
  }
}
}



@media (min-width: 1400px) {
  .imageContainer {
    border-radius: 6px;
  }
}


@media (prefers-color-scheme: dark) {
  .title {
    color: var(--light);
  }

  .aboutSection h2 {
    background-color: var(--dark);
  }

  .aboutSection {
    background-color: var(--dark);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 0.8;
  }
}