

/* ********** HERO ********** */




/* ********* ABOUT ********* */



/******** ********/



@media (width < 768px) {
  @keyframes slide-up {
    0% {
      transform: translate(0, 400px);
    } 

    100% {
      transform: translate(0, -50px);
    }
  }
}

@media (width >= 768px) {

  /******** section ********/

.aboutSection .imageContainer {
  height: 500px;  
}

.aboutImage {
transform: scale(1.4) translate(-40px, -75px);
}

.heroSection h1 {
  font-size: 6rem;
}

.heroSection {
  height: calc(100vh - 8rem);
}

@keyframes slide-up {
  0% {
    transform: translate(0, 400px);
  } 
  
  100% {
    transform: translate(300px, 100px);
  }
}

}



@media (prefers-color-scheme: dark) {
  .heroSection h1 {
    color: var(--light);
  }

  .infoContainer {
    background-color: var(--dark);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 0.8;
  }
}