.topNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  padding: 2rem 1.2rem;
  /* background: var(--light); */
  /* border-bottom: 3px solid var(--mid-light); */
}

.cartIcon {
  font-size: 2.4rem;
  color: var(--primary);
  transition: 300ms;
}

.cartIcon:hover {
  font-size: 2.6rem;
  /* color: var(--light); */
}