.topNav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0;
  margin-bottom: 1rem;
}

.siteName {
  position: absolute;
  left: 1rem;
  top: 16px;
}

.siteName h3 {
  font-family: KCAnvaHell;
  font-size: 2.2rem;
  color: var(--primary);
}

.cartIconContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartIcon {
  font-size: 2.4rem;
  color: var(--primary);
  transition: 300ms;
}

.cartQuantity {
  position: absolute;
  font-family: Bitter;
  font-size: 1rem;
  font-weight: 800;
  color: var(--primary);
  transform: translateY(5px);
  cursor: pointer;
  transition: 300ms;
}

.cartIconContainer:hover .cartIcon {
  font-size: 2.6rem;
  color: var(--light);
}

.cartIconContainer:hover .cartQuantity {
  font-size: 1.1rem;
  color: var(--light);
}

@media (min-width: 480px) {
  .topNav {
    justify-content: flex-end;
  }

  .siteName {
      margin-left: auto;
      margin-right: auto;
      top: 10px;
      left: 0;
      right: 0;
      text-align: center;
  }

  .siteName h3 {
    font-size: 3rem;
  }
} 