.topNav {
  position: fixed;
  z-index: 30;
  width: min(100%, 1400px);
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0rem;
  margin: 0 auto;
  height: 3rem;
}

.title {
  /* display: flex; */
  /* flex-direction: column; */
  font-family: KCAnvaHell;
  font-size: 3rem;
  color: var(--dark);
  margin-left: 0.2rem;
  /* z-index: 30; */
  /* position: absolute; */
  /* top: 1rem; */
}

.cartIconContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(3px);
}

.cartIcon {
  font-size: 2.4rem;
  color: var(--primary);
  transition: 300ms;
}

.cartQuantity {
  position: absolute;
  font-family: Bitter;
  font-size: 1rem;
  font-weight: 800;
  color: var(--primary);
  transform: translateY(5px);
  cursor: pointer;
  transition: 300ms;
}

.cartIconContainer:hover .cartIcon {
  font-size: 2.6rem;
  color: var(--light);
}

.cartIconContainer:hover .cartQuantity {
  font-size: 1.1rem;
  color: var(--light);
}

.merchLink {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  color: var(--dark);
  font-size: 1.8rem;
  font-weight: 800;
  /* text-transform: uppercase; */
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 10px 10px -5px;
}

.mapIcon {
  /* margin-left: 0.5rem; */
  font-size: 2.5rem;
}

@media (prefers-color-scheme: dark) {
  .title {
    color: var(--light);
  }

.merchLink {
  box-shadow: rgba(0, 0, 0, 0.65) 0px 20px 25px -5px, rgba(0, 0, 0, 0.3) 0px 10px 10px -5px;

}

}

@media (width >= 768px) {
  .title {
    font-size: 4rem;
    /* margin: 0rem 1rem; */
  }
}
