.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border: 1px solid white;
  padding: 1rem;
  margin: 1rem;
  max-width: 300px;
}

.name {
  color: var(--primary);
}

/* .imageContainer {
  max-height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.image {
  mix-blend-mode: normal;
  position: relative !important;
  object-fit: contain !important;
  height: unset !important;
  margin-bottom: 0.5rem;
}



