.container {
  display: grid;
  font-family: Bitter;
  margin: 0 auto;
  max-width: 1000px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 1rem;
  margin: 0 0.5rem 1.5rem;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border: 3px solid var(--mid-light);
  transition: 300ms;
  cursor: pointer;
  overflow: hidden;
  /* background: var(--light); */
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.name {
  color: var(--dark);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.colorSelectionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: auto;
  padding-top: 1rem;
  border-top: 2px solid var(--mid-light);
}

.colorSelector {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-bottom: 1rem;
  border: 3px solid var(--mid-light);
  border-radius: 4px;
  transition: 300ms;
  padding: 5px;
}

.colorSelector:hover {
  border-color: var(--mid);
}

.colorPlaceholder {
  height: 25px;
}

.sizeSelectionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sizeSelector {
  margin-right: 10px;
  margin-bottom: 1rem;
  border: 3px solid var(--mid-light);
  border-radius: 4px;
  text-align: center;
  padding: 0.25rem 0.65rem;
  font-size: 1.2rem;
  font-weight: 800;
  transition: 300ms;
}

.sizeSelector:hover {
  border-color: var(--mid);
}

.selected {
  border-color: var(--mid);
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.price {
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 800;
  transform: translateY(2px)
}

.addToCartButton {
 background: unset;
 border: 3px solid var(--primary);
 padding: 0.4rem 0.6rem;
 border-radius: 5px;
 color: var(--dark);
 font-size: 1rem;
 font-weight: 800;
 transition: 300ms;
}

.addToCartButton:hover {
  /* border-color: var(--mid); */
  background-color: var(--primary-light);
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.image {
  border-radius: 6px;
  position: relative !important;
  object-fit: contain !important;
  height: unset !important;
  display: block;
  margin-bottom: 0.75rem;
  transition: 800ms;
}

@media (min-width: 480px) {
  .card {
    margin: 0 0.75rem 1.5rem;
  }

  /* only want hover effect for card on desktop */
  .card:hover {
    border-color: var(--primary);
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .price {
    font-size: 1.6rem;
  }
}

/* only want hover effect for card on desktop */
@media (min-width: 480px) and (prefers-color-scheme: dark) {
  .card:hover {
    border-color: var(--mid);
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .imageContainer:hover .image {
    transform: scale(1.05);
  }

  .colorSelector {
    width: 28px;
    height: 28px;
  }

  .sizeSelector {
    font-size: 1rem;
    padding: 0.1rem 0.4rem;
  }
} 

@media (prefers-color-scheme: dark) {
  .name {
    color: var(--primary);
  }
  
  .colorSelectionContainer {
    border-color: var(--mid-light);
  }
  
  .colorSelector {
    border-color: var(--mid)
  }

  .colorSelector:hover {
    border-color: var(--light);
  }

  .sizeSelectionContainer {
    color: var(--primary);
  }

  .sizeSelector {
    border-color: var(--mid);
  }

  .sizeSelector:hover {
    border-color: var(--light);
  }

  .selected {
    border-color: var(--light)
  }

  .price {
  color: var(--mid);
  }

  .addToCartButton {
    color: var(--primary);
    border-color: var(--primary-light);
  }

  .addToCartButton:hover {
    border-color: var(--primary);
  }
}



